<div class="container mt-5" *ngIf="users; else notFound">
  <div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Registered on</th>
          <th>Admin</th>
          <th>Banned</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users | paginate: { id: 'allUsers', itemsPerPage: pageSize, currentPage: currentPage}">
            <td>{{u.username}}</td>
            <td>{{u.dateRegistered.toLocaleString()}}</td>
            <td>{{u.roles.isAdmin}}</td>
            <td>{{u.isBanned}}</td>
            <td><span *ngIf="!u.isBanned"><button mat-button (click)="banUser(u._id)">Ban</button></span>
            <span *ngIf="u.isBanned"><button mat-button (click)="unbanUser(u._id)">Unban</button></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls
  id="allusers"
  (pageChange)="changePage($event)"
  maxSize="9"
  directionLinks="true"
  autoHide="true"
  previousLabel="Previous"
  nextLabel="Next"
  screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page"
  screenReaderCurrentLabel="You're on page"
  >
  </pagination-controls>
</div>