<div class="row">
  <div class="col-md-12 row">
    <div class="page-header text-center offset-4 col-4">
      <h1>Latest Posts</h1>
    </div>
  </div>
  <div class="col-md-12 row" *ngIf="posts; else notFound">
    <div class="col-md-4" *ngFor="let p of posts">
      <div class="figure post-body">
        <a routerLink="/posts/details/{{p._id}}">
          <div class="card card-body btn-custom">
            <div class="figure post-body">
              <div class="text-center">
                <h3>{{p.title.substr(0, 30)}}</h3>
              </div>
              <div>{{p.body.substr(0, 50)}}</div>
            </div>
            <div>
                <p>{{p.creationDate.toLocaleString()}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <ng-template #notFound>
        <span>No posts found.</span>
    </ng-template>
  </div>
</div>